<div class="container-fluid">
<h2>Create new repository</h2>
<form name="newRepositoryForm" ng-submit="addNewRepository()" ng-controller="NewRepositoryController" novalidate class="form-horizontal">
    <div ng-class="{'form-group': true, 'has-error':newRepositoryForm.name.$invalid}">
        <label for="repositoryName">Name</label>
        <input type="text" name="name" id="repositoryName" class="form-control" ng-model="repositoryName" ng-required="1" ng-maxlength="255" iq-unique="1" ng-change="nameChanged()" ng-model-options="{debounce:500}" autocomplete="off" placeholder="Enter repository name" />

        <span ng-show="!newRepositoryForm.name.$error.unique && newRepositoryForm.name.$invalid && !newRepositoryForm.name.$pristine" class="help-block">Repository name is required.</span>
        <span ng-show="newRepositoryForm.name.$error.unique" class="help-block">Name is already in use</span>

    </div>
    <div ng-class="{'form-group': true, 'has-error':newRepositoryForm.repositoryReadme.$invalid}">
        <label for="repositoryReadme">Description</label>
        <textarea name="readme" cols="80" rows="5" id="repositoryReadme" class="form-control" ng-model="repositoryReadme"></textarea>
    </div>
    <div ng-class="{'form-group': true, 'has-error':newRepositoryForm.repositoryWebsiteUrl.$invalid}">
        <label for="repositoryWebsiteUrl">Project web site URL</label>
        <input type="url" name="repositoryWebsiteUrl" id="repositoryWebsiteUrl" class="form-control" ng-model="repositoryWebsiteUrl" ng-maxlength="255"/>
        <span ng-show="newRepositoryForm.repositoryWebsiteUrl.$error.url" class="help-block">URL is invalid.</span>
        <span ng-show="newRepositoryForm.repositoryWebsiteUrl.$error.maxlength" class="help-block">URL too long.</span>
    </div>

    <div class="control-group">
        <button type="submit" class="btn btn-success" ng-disabled="newRepositoryForm.$invalid">Create</button>
        <button ng-click="cancel()" class="btn btn-default">Cancel</button>
    </div>
</form>
</div>