// Place all the styles related to the Data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.page-dashboard.ng-enter {
  -webkit-animation: slideInLeft 0.2s both ease-in;
}
.page-dashboard.ng-leave {
  -webkit-animation: slideOutLeft 0.2s both ease-in;
}

.page-newRepository.ng-enter {
  -webkit-animation: slideInRight 0.2s both ease-in;
}
.page-newRepository.ng-leave {
  -webkit-animation: slideOutRight 0.2s both ease-in;
}

.repositoryListItem {
  positon: relative;
  text-align: left;
}
.repositoryListTimestamps {
  position: absolute;
  right: 8px;
  bottom: -5px;
  width: 50%;
  text-align: right;
}

.repositoryListControls {
  position: absolute;
  right: 8px;
  top: 8px;
  text-align: right;
}